*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  margin: 135px 30px;
  min-width: 1140px;
  min-height: 540px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: 78px;
}

.result__video-container {
  position: relative;
  width: 711px;
  max-height: 386px;
  overflow: hidden;
}

.result__video {
  width: inherit;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 251px 194px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  width: auto;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  gap: 5px;
  width: fit-content;
}

.search-form__textfield {
  position: relative;
  margin: 1px;
  appearance: none;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: inherit;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  width: 225px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox {
  cursor: pointer;
}

.search-form__pseudo-checkbox {
  position: relative;
  left: 1px;
  top: 1px;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search-form__label:active {
  .search-form__pseudo-checkbox::before {
    content: "";  
    position: relative;
    left: 0px;
    top: 1px;
    width: 15px;
    height: 15px;
    background-color: white;
  } 
}
.button {
  color: white;
  border: 1px solid white;
  background-color: transparent;
  text-align: center;
  font: inherit;
  cursor: pointer;
  font-weight: 700;
  height: 34px;
  align-self: flex-end;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-top: 4px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  max-height: 298px; /* */
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: auto;
}

.content__card-link {
  display: block; 
  color: white;
  text-decoration: none;
  margin: 3px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 394px;
}

.content__video-card-description-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
  word-wrap: break-word;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  line-height: 90%;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 191px;
  object-fit: cover;
}

.more-button {
  width: 100%;
}

.content__video-card:focus,
button:focus,
input:focus {
  outline: none;
}

button:focus-visible,
.search-form__label:has(:focus-visible),
.content__video-card:focus-visible {
  outline-color: white;
  outline-style: solid;
  outline-width: 1px;
  outline-offset: 1px;
}

.search-form__label:focus,
.search-form__label-text:focus {
  outline: black;
}

button:hover,
.content__video-card:hover,
.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
}

button:active,
.content__video-card:active,
.content__card-link_current {
  background: #545050;
}
